@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
  font-family: "Quicksand", sans-serif;
}

.background {
  background-color: #ffffff;
  opacity: 0.1;
  background-image: radial-gradient(#434344 0.75px, transparent 0.75px),
    radial-gradient(#434344 0.75px, #ffffff 0.75px);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
